applicationinsights==0.11.9
autopep8==1.4.4
backports.csv==1.0.7
certifi==2019.6.16
chardet==3.0.4
cli-helpers==0.2.3
Click==7.0
configobj==5.0.6
Django==2.2.4
django-bootstrap-form==3.4
django-debug-toolbar==2.0
entrypoints==0.3
enum34==1.1.6
flake8==3.7.7
future==0.17.1
gunicorn==19.9.0
humanize==0.5.1
idna==2.8
mccabe==0.6.1
mssql-cli==0.15.0
pipdeptree==0.13.2
prompt-toolkit==1.0.16
psycopg2==2.8.3
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.0
python-decouple==3.1
pytz==2019.2
requests==2.22.0
six==1.12.0
soupsieve==1.9.3
sqlparse==0.2.4
terminaltables==3.1.0
urllib3==1.25.3
wcwidth==0.1.7
