{% block sidebar %}
{% load static %}
<link rel="stylesheet" href="{% static "travel/css/navbar.css" %}">

<!-- navbar用のjqueryの読み込み -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<div id="wrapper">
  <div id="title"><h4>周辺スポット検索アプリ</h4></div>
  <p class="btn-gnavi">
    <span></span>
    <span></span>
    <span></span>
  </p>
  <nav id="global-navi">
    <ul class="menu">     
      <li><a href="{% url 'travel:place_list' %}">周辺を検索</a></li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          設定の作成＆変更
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'travel:create_setting' %}">新規作成</a>
          <a class="dropdown-item" href="{% url 'travel:setting_list' %}">変更＆削除</a>
        </div>
      </li>
      <li><a href="{% url 'travel:saved_place' %}">気になる場所リスト</a></li>
      <li><a href="{% url 'accounts:logout_confirm' %}">ログアウト</a></li>
    </ul>
  </nav>
</div>

<script>
jQuery(function ($) {
  $(function(){
      $(".btn-gnavi").on("click", function(){
        let rightVal = 0;
        if($(this).hasClass("open")) {
          // 位置を移動させメニューを開いた状態にする
          rightVal = -300;
          // メニューを開いたら次回クリック時は閉じた状態になるよう設定
          $(this).removeClass("open");
        } else {
          // メニューを開いたら次回クリック時は閉じた状態になるよう設定
          $(this).addClass("open");
        }

        $("#global-navi").stop().animate({
            right: rightVal
        }, 200);
      });
  });
});
</script>

{% endblock sidebar %}