{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static "accounts/css/login.css" %}">
  <!-- bootstrapのcssファイルを読み込む-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>サインアップ</title>
</head>
<body>
  <div class="loginform">
    <div class="title">サインアップ</div>
    <div class="form-row">
      <div class="field_wrapper">
      <form method="POST" action="{% url 'accounts:signup' %}">
          {% csrf_token %}
        <div class="col">
          <label>ユーザーID</label><br>
          {{ form.username }}
          {{ form.username.errors }}
        </div>
        <div class="col">
          <label>パスワード</label><br>
          {{ form.password }}
          {{ form.password.errors }}
        </div>
        <div class="col">
          <label>パスワード(確認)</label><br>
          {{ form.password_check }}
          {{ form.password_check.errors }}
        </div>
        <div class="col">
          <button class="btn btn-primary" type = "submit">登録</button>
        </div>
      </form>
</div>
</body>
</html>