body {
    background-image: url("../img/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.loginform {
    width: 100%;
    text-align: center;
    color: white;
}

.loginform .title {
    font-size: x-large;
    padding: 30px;
    color: black;
}

.loginform .form-row {
    margin: auto;
    display: block;
}

.loginform .col {
    margin: auto;
    padding: 5px;
}

/* エラーメッセージの●を消す */
ul {
    list-style: none;
    padding-left: 0;
}

@media only screen and (max-width: 767px) {
    body {
      background-image: url("../img/background.jpg");
    }
  }