{% extends './place_base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "travel/css/place_list.css" %}">

      <div class="search_setting">
      <form id="your_location" action="" method="post">
          {% csrf_token %}
          <select name="setting_now" class="browser-default custom-select custom-select-lg mb-3">
              <option selected="true" disabled="disabled">保存した設定から選ぶ</option>
              {% for setting in object_list %}
                <option value="{{setting.id}}">
                  {{setting.name}}: 
                  {{setting_radius_meta}}: {{setting.radius}}
                  {{setting_max_show_num_meta}}: {{setting.max_show_num}}
                </option>
              {% endfor %}
            </select>
            <button type="button" class="btn btn-info" id='location_btn' value="更新" data-toggle="tooltip" data-placement="right"
            data-html="true">周辺のスポットをさがす</button>  
        </form>
<div id="loading"><img src="{% static "icon/ajax-loader.gif" %}"></div>

        <!-- jqueryの読み込み -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

<script>
jQuery(function ($) {
  $(function(){
    $('#location_btn').on('click', function(){
      $("#loading").fadeIn(500);
      let getPosition = function (options) {
        return new Promise(function (resolve, reject) {
          navigator.geolocation.getCurrentPosition(resolve, reject, options);
        });
    }

getPosition()
  .then((position) => {
    ($.post("{% url 'travel:place_list' %}",
      {
        'your_location': [
          position.coords.latitude,
          position.coords.longitude
        ],
        'setting_now': $('[name="setting_now"] option:selected').val(),
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      function(data){
        $("#loading").fadeOut(500);
        $('#current_data').html(data)
      }
    ));
    })
    .catch((err) => {
      $("#loading").fadeOut(500);
      console.error(err.message);
    });
    });
  });
});

</script>

         <div id="current_data">
      </div>
      </div>
   </div>
  </div>
<hr>
 
{% endblock content %}