{% extends './place_base.html' %}
{% block content %}
  <div class="card mb-3">
      <div class="card-header">
          <h3>設定の作成</h3>
      </div>
        <div class="content-wrapper">
          <div class="container-fluid">
            <div class="form-row">
          <form method="POST" action="">
              {% csrf_token %}
              <div class="field_wrapper">
              <div class="col">
              {% if form.non_field_errors %}
                {{ form.non_field_errors }}
              </div>
              {% endif %}
              <div class="col">
              <label>設定名</label>
              <input type="hidden" name="user" id="id_user" value={{ user_id }}>
              {{ form.name }}
              {{ form.name.errors }}
              </div>
              <div class="col">
              <label>半径</label>
              {{ form.radius }}
              {{ form.radius.errors }}
              </div>
              <div class="col">
              <label>最大表示件数</label>
              {{ form.max_show_num }}
              {{ form.max_show_num.errors }}
              </div>
              <button class="btn btn-primary" type="submit">登録</button>
          </form>
        </div>
    </div>
</div>

{% endblock content %}