{% extends './place_base.html' %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

         <!-- テーブル表の定義 -->
         <table id=setting_list width="100%" class="table table-striped table-bordered table-hover">
            　<!-- 表の列の定義-->
              <thead>
                <tr>
                  <th class="text-center">設定名</th>
                  <th class="text-center">半径</th>
                  <th class="text-center">最大表示件数</th>
                  <th class="text-center">変更</th>
                </tr>
              </thead>
            　<!-- ここまでが表の列の定義-->
            　<!-- 表のデータ部分の表示-->
              <tbody>
                {% for item in object_list %}
                  <tr class="odd gradeX text-center">
                    <td class="text-center" width="100">{{ item.name}}</td>
                    <td class="text-center" width="100">{{ item.radius}}</td>
                    <td class="text-center" width="100">{{ item.max_show_num}}</td>
               <td class="text-center" width="100">
                   <a class="btn btn-primary" href="{% url 'travel:update_setting' item.pk %}" role="button">編集する</a>
                   <a class="btn btn-danger" href="{% url 'travel:delete_setting' item.pk %}" role="button">削除する</a>
                 </td>
                    
               </td>
                  </tr>
              {% endfor %}
              </tbody>
            　<!-- ここまでが表のデータ部分の表示-->
            </table>
            <!-- ここまでがテーブル表の定義 -->
        <!-- bootstrapのjavascript読み込み -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <!-- DataTablesのjavascript読み込み -->
        <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>

            <script>
              // テーブルの機能
              jQuery(function ($) {
                  // デフォルトの設定を変更
                  $.extend( $.fn.dataTable.defaults, {
                      language: {
                          url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                      }
                  });
                  $("#setting_list").DataTable({
                      "searching": true, // 検索機能
                      "padding": true, // ページング機能
                      "ordering": true, // ソート機能
                      "lengthChange": true, // 件数切り替え機能
                  }).columns.adjust().draw();
              });
            </script>
       </div>
      </div>
   </div>
  </div>
<hr>
 
{% endblock content %}